body {
    color: black;
    width: 900px;
}

h1 {
    color: navy;
    text-align: center;
    text-shadow: 1px 2px grey;
}

p {
    text-align: justify;
    display: block;
    direction: ltr;
    color: black;
}

table {
    border: solid 1px grey;
}

th {
    border: solid 1px black;
    background-color: black;
    color: white;
}

td {
    border: solid 1px grey;
}

figure {
    align: center;
}